record( bi, "$(P):BI:$(MOD):BIT$(N)"){
  field( DESC, "$(MOD) BIT$(N):")
  field( DTYP, "asynUInt32Digital")
  field( INP,  "@asynMask($(PORT) $(OFF) 0x1)")
  field( SCAN, "I/O Intr")
  field( ZNAM, "off")
  field( ONAM, "on")
}
